<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{#block "title"}}{{/block}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body class="d-flex flex-column min-vh-100">
<header></header>
<main>{{#block "content"}}{{/block}}</main>
<footer class="mt-auto">
    <p>Made by <a href="https://eliko.ga/">elikoga</a> and <a href="http://my.pronounsa.re/he/they">my.pronounsa.re/he/they</a>. Hire me!<br/>
    This project is open source and avaliable <a href="https://github.com/elikoga/pronounsare">here</a>.<br/>
    This project was inspired by <a href="http://my.pronoun.is/">my.pronoun.is/</a>.
    </p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>
